/* Home */
.home-container {
  background-color: #4c6a4d;
  color: white;
  text-align: center;
  height: 100vh;
}

.home-header {
  padding-top: 50px;
}

.home-header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home-header p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.home-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.login-btn {
  background-color: #ff4f84;
  color: white;
}

.signup-btn {
  background-color: #f1c1d3;
  color: white;
}
